<div class="col-xs-12 btn-edition">
  <%= link_to 'Delete',  note_path(@note), class: 'btn btn-danger pull-right',
              :method => :delete,
              :data => {:confirm => t(:text_are_you_sure)}
  %>
  <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-success pull-right' %>
  <%= link_to t('button_cancel'), @note.object, class: 'btn btn-warning pull-right' %>
</div>