<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     extend_demography: @extend_demography,
                     wid_id: 'core_demo',
                     wid_title: 'More information'
                 } %>
    </article>
  </div>
</section>