<li>
  <a href="#"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Administration</span></a>
  <ul>
    <li>
      <%= link_to "Users", '#' %>
    </li>
    <li>
      <%= link_to "Enumeration", enumerations_path %>
    </li>
  </ul>
</li>