<ul>
  <li class="active">
    <a href="index.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
  </li>
  <li>
    <a href="inbox.html"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
  </li>
  <li>
    <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
    <ul>
      <li>
        <a href="flot.html">Flot Chart</a>
      </li>
      <li>
        <a href="morris.html">Morris Charts</a>
      </li>
      <li>
        <a href="inline-charts.html">Inline Charts</a>
      </li>
      <li>
        <a href="dygraphs.html">Dygraphs</a>
      </li>
      <li>
        <a href="chartjs.html">Chart.js <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
      </li>
    </ul>
  </li>
</ul>