<%= render 'action_menu' %>

<section id="widget-grid" class="form_note_list">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'show',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     notes: @notes,
                     wid_id: 'note_lists',
                     wid_title: 'Notes'
                 } %>
    </article>
  </div>
</section>

<% if @tasks.any? %>
    <section id="widget-grid" class="checklists_account">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'sub_tasks',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         wid_id: 'subtasks',
                         wid_title: 'Sub tasks'
                     } %>
        </article>
      </div>
    </section>
<% end %>

<% if can?(:manage_roles, :view_notes) %>
    <section id="widget-grid-2" class="form_note_list2">
      <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= render partial: 'notes/notes',
                     layout: 'shared/smart_widget_wrapper',
                     locals: {
                         notes: @notes,
                         wid_id: 'note_lists',
                         wid_title: 'Notes'
                     } %>
        </article>
      </div>
    </section>
<% end %>