<div class="col-xs-12">

  <h4> Department information: <%= department = job_detail.department %></h4>



  <% department.grouped_by_role.each do |role, job_details| %>
      <h4> <%= role %> </h4>
      <ul>
        <% job_details.each do |jd| %>
            <li> <%= jd.user %> </li>
        <% end %>
      </ul>
  <% end %>
</div>