<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     c: @case,
                     wid_id: 'case',
                     wid_title: 'Edit case'
                 } %>
    </article>
  </div>
</section>
