<section id="widget-grid" class="checklists_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'case_relation',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     case_relation: @case_relation,
                     wid_id: 'case_relation',
                     wid_title: 'New Relation for case'
                 } %>
    </article>
  </div>
</section>