<h1>Editing Entended Demographic</h1>

<%= render 'form', entended_demographic: @entended_demographic %>

<%= link_to 'Show', @entended_demographic %> |
<%= link_to 'Back', entended_demographics_path %>
