<p id="notice"><%= notice %></p>

<p>
  <strong>Identification:</strong>
  <%= @entended_demographic.identification_id %>
</p>

<%= link_to 'Edit', edit_entended_demographic_path(@entended_demographic) %> |
<%= link_to 'Back', entended_demographics_path %>
