<div class="jarviswidget jarviswidget-color-darken" id="<%= wid_id %>" data-widget-deletebutton="false" data-widget-editbutton="false">
  <header>
    <h2><strong><%= wid_title %></strong> </h2>

  </header>
  <div>
    <div class="widget-body no-padding">
      <%= yield %>
    </div>
  </div>
</div>