<div class="nested-fields row margin-top-5">
  <div class="col-md-2 hidden-xs"></div>
  <div class="col-md-10">
    <fieldset>
      <div class="col-md-12">
        <%= link_to(attachment.read_attribute(:file), attachment.file_url) %>
      </div>
    </fieldset>
  </div>
</div>
