<div class="row">
  <div class="col-xs-12 hidden-xs col-sm-1 col-md-2">
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8">
    <%= @setting.home_page_content.html_safe if @setting.home_page_content %>
    <%= render partial: 'devise/sessions/form' unless user_signed_in? %>
  </div>
</div>

<div class="col-xs-10" style="position: fixed; bottom: 50px">
  <div class="row">
    <div class="col-xs-3">
      This program is licensed under GPL v3 <br/>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">https://www.gnu.org/licenses/gpl-3.0.html</a>
    </div>

    <div class="col-xs-3 pull-right">
      Please send your feedback <br/>
      <A HREF="mailto:feedback@microhealthllc.com">feedback@microhealthllc.com</A>
    </div>

  </div>
</div>
