<table class="table table-bordered table-responsive">
  <thead>
  <tr>

    <th>User</th>
    <th>Emergency contact</th>
    <th>Contact</th>
   </tr>
  </thead>

  <tbody>
  <% if contacts.any? %>
      <% contacts.each do |contact| %>
          <tr>
            <td><%= link_to contact.name, contact %></td>
            <td><%= contact.emergency_contact %></td>
            <td><%= contact.contact_type %></td>
           </tr>
      <% end %>
  <% else %>
      <tr align="center">
        <td colspan="11"><%= t('label_no_data') %></td>
      </tr>
  <% end %>
  </tbody>
</table>