<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     document: @document,
                     wid_id: 'document',
                     wid_title: 'Editing Document'
                 } %>
    </article>
  </div>
</section>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>
