<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<%= link_to 'New Document', new_document_path, class: 'btn btn-primary pull-right' %>
<%= render partial: 'documents/list', locals: {documents: @documents} %>