<h1>Documents</h1>

<%= link_to( 'New Document', new_document_path, class: 'btn btn-primary pull-right')  if can?(:create_documents, :manage_roles, :manage_documents)%>
<%= render partial: 'documents/list', locals: {documents: @documents} %>