<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_type.name %>
</p>

<%= link_to 'Edit', edit_contact_type_path(@contact_type) %> |
<%= link_to 'Back', contact_types_path %>
