<div class="survey-title">
  <h2><%= survey.name %></h2>
  <p><small><%= survey.description.html_safe %></small></p>
  <ul>
    <% survey.questions.each_with_index do |question, index| %>
        <li>
          <p><%= question.text %></p>
         <% question.options.each do |option| %>
             <p> <%= option.text %></p>
          <% end -%>
        </li>
    <% end -%>
  </ul>
</div>