<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     survey: @survey,
                     wid_id: 'survey',
                     wid_title: 'New survey'
                 } %>
    </article>
  </div>
</section>
