div.flash {margin-top: 8px;}

div.flash.error, #errorExplanation {
    /*background: url(../images/exclamation.png) 8px 50% no-repeat;*/
    background-color: #ffe3e3;
    border: 2px solid #dd0000;
    color: #880000;
}

div.flash.notice {
    /*background: url(../images/true.png) 8px 5px no-repeat;*/
    background-color: #dfffdf;
    border: 2px solid #9fcf9f;
    color: #005f00;
}

div.flash.warning, .conflict {
    /*background: url(../images/warning.png) 8px 5px no-repeat;*/
    background-color: #FFEBC1;
    border: 2px solid #FDBF3B;
    color: #A6750C;
    text-align: left;
}

label, legend, .jarviswidget header h2 strong, a{
    text-transform: capitalize;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

