<h1><%= t(:organizations) %></h1>

<%= link_to( t(:new_organization), new_organization_path, class: 'btn btn-primary pull-right margin-bottom-10') %>
<%= render partial: 'list', locals:{organizations: @organizations}  %>