<h1>New Education</h1>
<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     education: @education,
                     wid_id: 'password',
                     wid_title: 'Change password'
                 } %>
    </article>
  </div>
</section>


